<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<script>
		function checkValidations() {
		var resourceName = document.getElementById("resourceName").value;
		console.log(resourceName);
		
		
		
		var d = new Date();
		var getMonth = document.getElementById("Month").value;
		var getDay = document.getElementById("Day").value;
		var getYear = document.getElementById("Year").value;
		var getsHours = document.getElementById("startHours").value;
		console.log(getsHours);
		var getsMins = document.getElementById("startMins").value;
		
		var sMeridian = document.getElementById("startMeridian").value;
		var intsHours = parseInt(getsHours);
		
		if(sMeridian == 'PM'){
		console.log(intsHours);
		intsHours = intsHours + 12;
		getsHours = intsHours;
		}
		
		if(getsHours.length == 1){
		getsHours = '0'+getsHours;
		}
		if(getsMins.length == 1){
		getsMins = '0'+getsMins;
		}
		
		var geteHours = document.getElementById("endHours").value;
		var eMeridian = document.getElementById("endMeridian").value;
		var inteHours = parseInt(geteHours);
		if(eMeridian == 'PM'){
		inteHours = inteHours + 12;
		geteHours = inteHours;
		}
		if(geteHours.length == 1){
		geteHours = '0'+geteHours;
		}

		var geteMins = document.getElementById("endMins").value;
		if(geteMins.length == 1){
		geteMins = '0'+geteMins;
		}
		
		var getStartDateString = getYear + '-' +getMonth +'-'+getDay+' '+getsHours+':'+getsMins+':00';
		console.log("hello",getStartDateString);
		var myStartDate = new Date(getStartDateString);

		var getEndDateString = getYear + '-' +getMonth +'-'+getDay+' '+geteHours+':'+geteMins+':00';
		var myEndDate = new Date(getEndDateString);
		console.log(myStartDate);
		console.log(myEndDate);

		console.log(d);
		if(myStartDate < d){
		var message = "Date should be greater than current date";
		console.log(message);
		document.getElementById("displayError").innerHTML = message;
		return false;
		}else {
			if(myEndDate < myStartDate){
			var message = "End time should be greater than Start time";
			console.log(message);
		
			document.getElementById("displayError").innerHTML = message;
			return false;
			}
			else {		
			return true;
			}
		}	
		}
	
	</script>

  </head>
	<body>
		<div class="container">
			<h3>Selct </h3>
			<ul class="nav nav-pills">
				{% if checkOwnerResources == 'false' %} 
				
					<li class=
					{% if menu_name == "see_your" %}
						active
					{% endif %}
					><a href="?menu_name=see_your&checkOwnerResources={{checkOwnerResources}}&getOwner={{getOwner}}">See Your Reservations</a></li>
				{% endif %}
				{% if checkOwnerResources == 'true' %} 
				
					<li class=
					{% if menu_name == "see_your" %}
						active
					{% endif %}
					><a href="?menu_name=see_your&checkOwnerResources={{checkOwnerResources}}&getOwner={{getOwner}}">See Reservations of {{getOwner}}</a></li>
				{% endif %}

				{% if checkOwnerResources == 'false' %} 
					<li class=
					{% if menu_name == "see_all" %}
						active
					{% endif %}				
					><a href="?menu_name=see_all">See All Resources</a></li>

				
				
				{% endif %}
				{% if checkOwnerResources == 'false' %} 
				
					<li class=
					{% if menu_name == "see_resource" %}
						active
					{% endif %}

					><a href="?menu_name=see_resource&checkOwnerResources={{checkOwnerResources}}&getOwner={{getOwner}}">See Resources Owned by You</a></li>
				{% endif %} 
				{% if checkOwnerResources == 'true' %} 
				
					<li class=
					{% if menu_name == "see_resource" %}
						active
					{% endif %}

					><a href="?menu_name=see_resource&checkOwnerResources={{checkOwnerResources}}&getOwner={{getOwner}}">See Resources Owned by {{getOwner}}</a></li>
				{% endif %} 
				{% if checkOwnerResources == 'false' %} 
				
					<li class=
					{% if menu_name == "create" %}
						active
					{% endif %}

					><a href="?menu_name=create">{{url_createResource}}</a></li>
				{% endif %}
				<li><a href="/">Home</a></li>
			</ul>

		<div>
			Hello
			{% if user %}
			{{user.nickname()}}
			{% endif %}
			
			{{checkOwnerResources}}
		</div>
		{{menu_name}}
		
		{% if menu_name == "see_your" %}
			active
			<div class="divTable">
				 <div class="headRow">
					<div class="divCell" align="center">Reservation UUID</div>
					<div  class="divCell">Resource Name</div>
					<div  class="divCell">Resource Tags</div>
					<div  class="divCell">Resource UUID</div>
					<div  class="divCell">Start Time</div>
					<div  class="divCell">Duration</div>
					<div  class="divCell">Delete</div>
					
					
				 </div>

				{% for reservation in reservations %}
					{% if checkOwnerResources == "true" %} 
						{% if getOwner != user.email() and getOwner == reservation.author.email %}
							<div class="divRow" id = "rowdiv{{reservation.uuid}}">
								<div class="divCell">{{reservation.uuid}}</div>

									<form id='myform{{reservation.resourceName}}' action="/reserveResource" method="get">
									<div class="divCell">
											<input type="hidden" name="resource_uuid" value="{{reservation.resourceUUID}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{reservation.resourceName}}').submit()">{{reservation.resourceName}}</a>
										
									</div>
									</form>
									{% for resource in resources %}
										repeat on resources
										{% if reservation.resourceName == resource.resourceName %}
										repeat ontags
											{% for eachTag in resource.tags %}
													<div class="divCell">
													<form id="tagForm{{eachTag}}" action="/listTagResources" method="get">
														<input type="hidden" name="get_Tag" value="{{eachTag}}">
														<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
													</form>
													</div>
											{% endfor %}
										{% endif %}

									{% endfor %}
									
								<div class="divCell">{{reservation.resourceUUID}}</div>
								<div class="divCell">{{reservation.startTime}}</div>
								<div class="divCell">{{reservation.duration}}</div>
								
							</div>
							<hr>
							
							<script>
							var d = new Date();
							var str = "";
								
								var endTime = new Date("{{reservation.endTime}}");
								if (endTime < d) {
								document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
								}
							</script>
						{% endif %}

					{% endif %}
					{% if checkOwnerResources == 'false' %}
						{% if user and user.user_id() == reservation.author.identity %}
					
							<div class="divRow" id = "rowdiv{{reservation.uuid}}">
								<div class="divCell">{{reservation.uuid}}</div>

									<form id='myform{{reservation.resourceName}}' action="/reserveResource" method="get">
									<div class="divCell">
											<input type="hidden" name="resource_uuid" value="{{reservation.resourceUUID}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{reservation.resourceName}}').submit()">{{reservation.resourceName}}</a>
										
									</div>
										</form>
										
									{% for resource in resources %}	
										{% if reservation.resourceName == resource.resourceName %}
											{% for eachTag in resource.tags %}
													<div class="divCell">
													<form id="tagForm{{eachTag}}" action="/listTagResources" method="get">
														<input type="hidden" name="get_Tag" value="{{eachTag}}">
														<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
													</form>
													</div>
											{% endfor %}
										{% endif %}

									{% endfor %}

										
										
										
										
								<div class="divCell">{{reservation.resourceUUID}}</div>
								<div class="divCell">{{reservation.startTime}}</div>
								<div class="divCell">{{reservation.duration}}</div>
								
							</div>
							<hr>
							
							<script>
							var d = new Date();
							var str = "";
								
								var endTime = new Date("{{reservation.endTime}}");
								if (endTime < d) {
								document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
								}
							</script>
						{% endif %}


					{% endif %}
				<form action="/" method="get">
					<div class="divCell">
					<input type="hidden" name="deleteReservation" value="{{reservation.uuid}}">
					<input type="submit" value="Delete" >					
					</div>
				</form>

				{% endfor %}
								

			</div>
			
			
		{% endif %}
		{% if menu_name == "see_all" %}
			active
			<div class="divTable">
				 <div class="headRow">
					<div class="divCell" align="center">Resource Name</div>
					<div  class="divCell">Resource Owner</div>
					<div  class="divCell">Start Time</div>
					<div  class="divCell">End Time</div>
					<div  class="divCell">Tags</div>
					
				 </div>

				{% for resource in resources %}
					<div class="divRow">
								<form id='myform{{resource.resourceName}}' action="/reserveResource" method="get">
							<div class="divCell">
									<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
									<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>
								
							</div>
								</form>
								
						<div class="divCell">
									<a href="/?getOwner={{resource.author.email}}">{{resource.author.email}}</a>
						</div>
						<div class="divCell">{{resource.startTime}}</div>
						<div class="divCell">{{resource.endTime}}</div>
						<div class="divCell">{{resource.date}}</div>
						{% for eachTag in resource.tags %}
							<div class="divCell">
							<form id="tagForm{{eachTag}}" action="/listTagResources" method="get">
								<input type="hidden" name="get_Tag" value="{{eachTag}}">
								<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
							</form>
							</div>
						{% endfor %}
					</div>
					<hr>
				{% endfor %}

			</div>

		{% endif %}
		{% if menu_name == "see_resource" %}
			active
			<div class="divTable">
				 <div class="headRow">
					<div class="divCell" align="center">Resource Name</div>
					<div  class="divCell">Resource Owner</div>
					<div  class="divCell">Start Time</div>
					<div  class="divCell">End Time</div>
					<div  class="divCell">Tags</div>
					
				 </div>

				{% for resource in resources %}
					{% if checkOwnerResources == 'true' %} 
						{% if getOwner != user.email() and getOwner == resource.author.email %}
							<div class="divRow">
							<div class="divCell">
								<form id='myform{{resource.resourceName}}' action="/reserveResource" method="get">
									<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
									<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>
								
							</div>
								</form>
							<div class="divCell">{{resource.author.email}}</div>
							<div class="divCell">{{resource.startTime}}</div>
							<div class="divCell">{{resource.endTime}}</div>
							
							</div>
							<hr>
						{% endif %}
					{% endif %}
					{% if checkOwnerResources == 'false' %}
						{% if user and user.user_id() == resource.author.identity %}
							<div class="divRow">
								<div class="divCell">
									<form id='myform{{resource.resourceName}}' action="/reserveResource" method="get">
										<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
										<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>
									
								</div>
									</form>
								<div class="divCell">{{resource.author.email}}</div>
								<div class="divCell">{{resource.startTime}}</div>
								<div class="divCell">{{resource.endTime}}</div>
								{% for eachTag in resource.tags %}
									<div class="divCell">
									<form id="tagForm{{eachTag}}" action="/listTagResources" method="get">
										<input type="hidden" name="get_Tag" value="{{eachTag}}">
										<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
									</form>
									</div>
								{% endfor %}
								
							</div>
							<hr>
						
						{% endif %}
					{% endif %}
					
				{% endfor %}

			</div>

			
		{% endif %}
		{% if menu_name == "create" %}
			<div>
				<h4>Create New Resource</h4>
				<span id="displayError"></span>
				<form action="/sign" onSubmit= "return checkValidations()"method="post" id="createForm">
					<div>Resource Name:
						<input id="resourceName" value="{{ resource_name }}" name="resource_name" required/>
					</div>
					<br>
					<div>
					Select Date:
					<select name="Month" id = "Month">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					<select name="Day" id = "Day">
					{% for num in range(1,32)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					<select name="Year" id = "Year">
					{% for num in range(2015,2100)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>

					</div>
					<br>
					<div>
					<span>
					Select Start Time:
					<select name="startHours" id = "startHours">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMins" id = "startMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMeridian" id = "startMeridian">
					  <option value="AM">AM</option>					
					  <option value="PM">PM</option>					
					</select>					
					</span>
				
					<span>
					Select End Time:
					<select name="endHours" id="endHours">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="endMins" id="endMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="endMeridian" id="endMeridian">
					  <option value="AM">AM</option>					
					  <option value="PM">PM</option>					
					</select>					
					</span>
					</div>
					<br>
					<div>
					Set Tags (; separated):
						<input id="resourceTags" name="resource_Tag" />
										
					</div>
					<br>
					<input type="submit" value="Submit">
					
				</form>			
			</div>
		{% endif %}


		
		<hr>
		
		<a href="{{url|safe}}">{{ url_linktext }}</a>


			
		</div>		
	</body>
	
</html>
{% endautoescape %}