<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<script>
		function checkValidations() {
		var resourceName = document.getElementById("resourceName").value;
		console.log(resourceName);
		
		
		
		var d = new Date();
		var getMonth = document.getElementById("Month").value;
		var getDay = document.getElementById("Day").value;
		var getYear = document.getElementById("Year").value;
		var getsHours = document.getElementById("startHours").value;
		console.log(getsHours);
		var getsMins = document.getElementById("startMins").value;
		
		var sMeridian = document.getElementById("startMeridian").value;
		var intsHours = parseInt(getsHours);
		
		if(sMeridian == 'PM'){
		console.log(intsHours);
		intsHours = intsHours + 12;
		getsHours = intsHours;
		}
		
		if(getsHours.length == 1){
		getsHours = '0'+getsHours;
		}
		if(getsMins.length == 1){
		getsMins = '0'+getsMins;
		}
		
		var geteHours = document.getElementById("endHours").value;
		var eMeridian = document.getElementById("endMeridian").value;
		var inteHours = parseInt(geteHours);
		if(eMeridian == 'PM'){
		inteHours = inteHours + 12;
		geteHours = inteHours;
		}
		if(geteHours.length == 1){
		geteHours = '0'+geteHours;
		}

		var geteMins = document.getElementById("endMins").value;
		if(geteMins.length == 1){
		geteMins = '0'+geteMins;
		}
		
		var getStartDateString = getYear + '-' +getMonth +'-'+getDay+' '+getsHours+':'+getsMins+':00';
		console.log("hello",getStartDateString);
		var myStartDate = new Date(getStartDateString);

		var getEndDateString = getYear + '-' +getMonth +'-'+getDay+' '+geteHours+':'+geteMins+':00';
		var myEndDate = new Date(getEndDateString);
		console.log(myStartDate);
		console.log(myEndDate);

		console.log(d);
		if(myStartDate < d){
		var message = "Date should be greater than current date";
		console.log(message);
		document.getElementById("displayError").innerHTML = message;
		return false;
		}else {
			if(myEndDate < myStartDate){
			var message = "End time should be greater than Start time";
			console.log(message);
		
			document.getElementById("displayError").innerHTML = message;
			return false;
			}
			else {		
			return true;
			}
		}	
		};
		
		function checkReserveValidations() {
		 var d = new Date();
		 
		 getStartHours = document.getElementById("rstartHours").value;
		 getStartMins = document.getElementById("rstartMins").value;
		 getStartMeridian = document.getElementById("rstartMeridian").value;
		 intstartHours = parseInt(getStartHours);
		
		if(getStartMeridian == 'PM'){
		console.log(intstartHours);
		intstartHours = intstartHours + 12;
		getStartHours = intstartHours;
		}
		var splitDate = "{{resource_date}}"	;	 
		var splitDateArray = splitDate.split("/");

		var newResourceDate = splitDateArray[0] +"-"+ splitDateArray[1]+"-"+splitDateArray[2];
		console.log(newResourceDate);
		console.log(getStartHours);
		console.log(getStartMins);
		console.log(getStartMeridian);
		
		var getDate = newResourceDate+' '+getStartHours+':'+getStartMins+':00';
		console.log(getDate);
		
		var resourceStartDate = new Date(getDate);
		 console.log(resourceStartDate);
		 
		 if(resourceStartDate < d) {
			console.log("going back");
			var message = "Start Time should be greater than current time";
		 document.getElementById("durationError").innerHTML = message;
			return false;
		 }
		 
		 var endHours = document.getElementById("endHours").value;
		 var endMins = document.getElementById("endMins").value;
		 
		 if (endHours == "0" && endMins == '0') {
		 var message = "Duration should be greater than zero";
		 document.getElementById("durationError").innerHTML = message;
		 return false;
		 } else {
		 return true;
		 }
		
		};
	
	</script>
  </head>
	<body>
		<div class="container">
			<h3>Selct </h3>
			<ul class="nav nav-pills">
				<li class=
				{% if menu_name == "show_reservations" %}
					active
				{% endif %}
				><a href="?menu_name=show_reservations&resource_uuid={{resource.uuid}}">Show Upcoming/Current Reservations</a></li>
				<li class=
				{% if menu_name == "add_new_reservation" %}
					active
				{% endif %}				
				><a href="?menu_name=add_new_reservation&resource_uuid={{resource.uuid}}">Add New Reservation</a></li>
				{% if user and user.user_id() == resource.author.identity %}
					<li class=
					{% if menu_name == "edit_resource" %}
						active
					{% endif %}

					><a href="?menu_name=edit_resource&resource_uuid={{resource.uuid}}">Edit Resource</a></li>


				{% endif %}
				<li><a href="/">Home</a></li>
				
			</ul>

		<div>
			Hello
			{% if user %}
			{{user.nickname()}}
			{% endif %}
		</div>
		{{menu_name}}
		{{resource}}
			{{resource.resourceName}}
			{{resource.endTime}}
			{{resource_date}}
		{{reservation}}
		{% if menu_name == "show_reservations" %}
			active
			<div class="divTable">
				 <div class="headRow">
					<div class="divCell" align="center">Reservation UUID</div>
					<div  class="divCell">Resource Name</div>
					<div  class="divCell">Resource UUID</div>
					<div  class="divCell">Start Time</div>
					<div  class="divCell">Duration</div>
					
				 </div>

				{% for reservation in reservations %}
					{% if reservation.resourceUUID == resource.uuid %}
					
					<div class="divRow" id = "rowdiv{{reservation.uuid}}">
						<div class="divCell">{{reservation.uuid}}</div>

							<form id='myform{{reservation.resourceName}}' action="/reserveResource" method="get">
							<div class="divCell">
									<input type="hidden" name="resource_uuid" value="{{reservation.resourceUUID}}">
									<a href="javascript:void(0)" onclick="document.getElementById('myform{{reservation.resourceName}}').submit()">{{reservation.resourceName}}</a>
								
							</div>
								</form>
						<div class="divCell">{{reservation.resourceUUID}}</div>
						<div class="divCell">{{reservation.startTime}}</div>
						<div class="divCell">{{reservation.duration}}</div>
						
					</div>
					<hr>
					
					<script>
					var d = new Date();
					var str = "";
						
						var endTime = new Date("{{reservation.endTime}}");
						if (endTime < d) {
						document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
						}
					</script>
					{% endif %}
				{% endfor %}
				

			</div>

			
			
		{% endif %}
		{% if menu_name == "add_new_reservation" %}
			active
			<div>
				<h4>Make A Reservation</h4>
				<span id="durationError"></span>

				{{flag}}
				{% if flag == 'false' %}
					Please enter the correct start Time and duration
				{% endif %}
				Resource Name: {{resource.resourceName}}
				Resource StartTime: {{resource.startTime}}
				Resource EndTime: {{resource.endTime}}
				<br>
				All Reservations
				<span id = "endTimes"></span>

				<script>
				var d = new Date();
				var str = "";
					{% for reservation in reservations %}
					var endTime = new Date("{{reservation.endTime}}");
						if (endTime > d) {
						str = str + "{{reservation.resourceName}}" +' '+ "{{reservation.startTime}}" +' '+ "{{reservation.endTime}}";
						}
					
					{% endfor %}
				document.getElementById("endTimes").innerHTML = str;
				</script>
				<form action="/addReservation" onSubmit="return checkReserveValidations()" method="post" id="addReserveForm">
					<input type="hidden" name="resource_name" value="{{resource.resourceName}}">
					<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
					<input type="hidden" name="resource_startDate" value="{{resource_date}}">
					<div>Resource Name:
						{{resource.resourceName}}
					</div>
					<br>
					<div>
					Select Date:
						{{resource_date}}
					</div>
					<br>
					<div>
					<span>
					Select Start Time:
					<select name="startHours" id = "rstartHours">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMins" id = "rstartMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMeridian" id = "rstartMeridian">
					  <option value="AM">AM</option>					
					  <option value="PM">PM</option>					
					</select>					
					</span>
				
					<span>
					Select Duration:
					<select name="endHours" id="endHours">
					{% for num in range(0,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>	
					<select name="endMins" id="endMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>

					</div>
					<br>
					<br>
					<input type="submit" value="Reserve">
					
				</form>			
			</div>
			
		{% endif %}
		{% if menu_name == "edit_resource" %}
			active
			<div>
				<h4>Edit Current Resource</h4>
				<span id="displayError"></span>
				<form action="/sign" onSubmit= "return checkValidations()"method="post" id="editForm">
					<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
					<div>Resource Name:
						<input id="resourceName" value="{{ resource.resourceName }}" name="resource_name" required/>
					</div>
					<br>
					<div>
					{{resource.startTime}}
					{{resource.endTime}}
					
					Select Date:
					<select name="Month" id= "Month">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					<select name="Day" id = "Day">
					{% for num in range(1,32)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					<select name="Year" id = "Year">
					{% for num in range(2015,2100)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>

					</div>
					<br>
					<div>
					<span>
					Select Start Time:
					<select name="startHours" id = "startHours">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMins" id = "startMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="startMeridian" id = "startMeridian">
					  <option value="AM">AM</option>					
					  <option value="PM">PM</option>					
					</select>					
					</span>
				
					<span>
					Select End Time:
					<select name="endHours" id="endHours">
					{% for num in range(1,13)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="endMins" id="endMins">
					{% for num in range(0,60)%}
					  <option value="{{ num }}">{{num}}</option>					
					{% endfor %}
					</select>
					</span>
					<span>
					<select name="endMeridian" id="endMeridian">
					  <option value="AM">AM</option>					
					  <option value="PM">PM</option>					
					</select>					
					</span>
					</div>
					<br>
					<div>
					Select Tags:
					<select name="setTags">
					  <option value="">fhdsk</option>					
					</select>
					</div>
					<br>
					<script>
					var x = "{{resource.startTime}}";
					console.log(x);
					startDateTime = new Date("{{resource.startTime}}");
					console.log(startDateTime);
					startDate = startDateTime.getDate();
					startMonth = startDateTime.getMonth() + 1;
					startYear = startDateTime.getFullYear();
					startHours = startDateTime.getHours();
					startMins = startDateTime.getMinutes();
					console.log(startDate);
					console.log(startMonth);
					console.log(startYear);
					console.log(startHours);
					console.log(startMins);
					
					if(startHours > 12) {
					startHours = startHours - 12;
					startMeridian = 'PM'
					} else {
					startMeridian = 'AM'
					}
					
					endDateTime = new Date("{{resource.endTime}}");
					console.log(endDateTime);
					endHours = endDateTime.getHours();
					endMins = endDateTime.getMinutes();
					console.log(endHours);
					console.log(endMins);
					
					
					if(endHours > 12) {
					endHours = endHours - 12;
					endMeridian = 'PM'
					} else {
					endMeridian = 'AM'
					}
					console.log(endHours);
					console.log(endMeridian);
					document.getElementById("Month").value = startMonth;
					document.getElementById("Day").value = startDate;
					document.getElementById("Year").value = startYear;
					document.getElementById("startHours").value = startHours;
					document.getElementById("startMins").value = startMins;
					document.getElementById("startMeridian").value = startMeridian;	
					document.getElementById("endHours").value = endHours;
					document.getElementById("endMins").value = endMins;
					document.getElementById("endMeridian").value = endMeridian;
					
					
					</script>
					<input type="submit" value="Submit">
					
				</form>			
			</div>

			
		{% endif %}


		
		<hr>
		
		<a href="{{url|safe}}">{{ url_linktext }}</a>


			
		</div>		
	</body>
</html>
{% endautoescape %}